//////////////////////////////////////////////
// Basic Reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-peach: #e7816b;
  --color-primary-black: #1d1c1e;
  --color-primary-white: #ffffff;

  --color-secondary-light-peach: #ffad9b;
  --color-secondary-dark-grey: #333136;
  --color-secondary-light-grey: #f1f3f5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
}
// End Basic Reset
//////////////////////////////////////////////
// Global Mobile FIrst Styles
h1,
h2,
h3,
p {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 3.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  letter-spacing: 0.14rem;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-secondary-dark-grey);
  background-color: var(--color-primary-white);
  border-radius: 0.8rem;
}
// End Global Mobile First Styles
//////////////////////////////////////////////
